# Node modules
node_modules
npm-debug.log*

# Build artifacts
dist

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
logs
*.log

# Test files
test
coverage
.nyc_output

# Docker files
Dockerfile*
docker-compose*
.dockerignore
